h1 {
    font: var(--text-headingMD);
    color: var(--text-heading);
}

label {
    font: var(--text-bodySM);
    color: var(--text-body);
}

.input-wrapper > .error {
    margin-top: -.25rem;
}

input, textarea {
    padding-left: 1rem;
}

textarea {
    padding-top: 1rem;
}

input::placeholder, 
textarea::placeholder {
    font: var(--text-bodyMD);
    color: var(--input-placeholder);
}

.sec-wrapper svg {
    color: var(--input-placeholder);
}

.error { 
    & svg {
        width: 1rem;
        height: 1rem;

        color: var(--danger);
    }

    & span {
        font: 300 0.75rem/normal var(--font-family-open);
        color: var(--danger);
    }
}

.select-type label {
    cursor: pointer;
}

